In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

In [38]:
df = pd.read_csv("IMSMenu2.csv" )
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')



labelencoder = LabelEncoder()

imputer.fit(df[:])
X = imputer.transform(df[:])

data = df.iloc[:,:].values

# Conversion of all categorial column values to vector/numerical
for i in range(0,9):
        data[:,i] = labelencoder.fit_transform(data[:,i])
data[:5]

array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 'SteelcutOats', 'mixvegitables',
        'Smokedsalmon', 'AlooGobi', 'PepperChickenFry'],
       [1, 1, 1, 1, 1, 1, 1, 1, 0, 'Smokedsalmon', 'TawaChickenfry',
        'ChickencornSoup', 'SteelcutOats', 'ArabicSeekhKabab'],
       [1, 1, 1, 1, 1, 1, 1, 0, 1, 'PepperChickenFry', 'PalakChicken',
        'SteelcutOats', 'ChickenKeemaParatha', 'mixvegitables'],
       [1, 1, 1, 1, 1, 1, 1, 0, 0, 'PakistaniShamiKababs',
        'ChickenKeemaParatha', 'mixvegitables', 'AlooGobi ',
        'SafedMurghKurma'],
       [1, 1, 1, 1, 1, 1, 0, 1, 1, 'mixvegitables', 'ChickenNuggets',
        'AlooGobi ', 'SteelcutOats', 'ChickenKarahi']], dtype=object)

In [39]:
df.head()

,DiabetesTypeOne,DiabetesTypeTwo,liverDisease,heartDisease,kidneyDisease,Flu,Fever,LowBP,HighBP,Recommended,Recommended2,Recommended3,Recommended4,Recommended5
0,1,1,1,1,1,1,1,1,1,SteelcutOats,mixvegitables,Smokedsalmon,AlooGobi,PepperChickenFry
1,1,1,1,1,1,1,1,1,0,Smokedsalmon,TawaChickenfry,ChickencornSoup,SteelcutOats,ArabicSeekhKabab
2,1,1,1,1,1,1,1,0,1,PepperChickenFry,PalakChicken,SteelcutOats,ChickenKeemaParatha,mixvegitables
3,1,1,1,1,1,1,1,0,0,PakistaniShamiKababs,ChickenKeemaParatha,mixvegitables,AlooGobi,SafedMurghKurma
4,1,1,1,1,1,1,0,1,1,mixvegitables,ChickenNuggets,AlooGobi,SteelcutOats,ChickenKarahi

In [40]:
df.shape

(1024, 14)

In [41]:
df.columns

Index(['DiabetesTypeOne', 'DiabetesTypeTwo', 'liverDisease', 'heartDisease',
       'kidneyDisease', 'Flu', 'Fever', 'LowBP', 'HighBP', 'Recommended',
       'Recommended2', 'Recommended3', 'Recommended4', 'Recommended5'],
      dtype='object')

In [42]:
feature_df=df[['DiabetesTypeOne', 'DiabetesTypeTwo', 'liverDisease', 'heartDisease',
       'kidneyDisease', 'Flu', 'Fever', 'LowBP', 'HighBP']]
feature_dff=df[['Recommended',
       'Recommended2', 'Recommended3', 'Recommended4', 'Recommended5']]
X=np.asarray((feature_df))
y=np.asarray(feature_dff)
X[0:5]
X.shape
y.shape

(1024, 5)

In [43]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1)

print(X_train.shape,
y_train.shape,
X_test.shape,
y_test.shape,)

(921, 9) (921, 5) (103, 9) (103, 5)

In [45]:
from sklearn.multioutput import MultiOutputClassifier

from sklearn.metrics import confusion_matrix, precision_score

knn = KNeighborsClassifier(n_neighbors=3)
classifier.fit(X_train,y_train)
y_predict=classifier.predict(X_train)
print(y_predict)
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.metrics import f1_scoreclassifier = MultiOutputClassifier(knn, n_jobs=-1)




m = MultiLabelBinarizer().fit(y_train)

f1_score(m.transform(y_train),
         m.transform(y_predict),
         average='macro')

[['ArabicSeekhKabab' 'AlooGobiMatar' 'AlooPalak' 'AlooGajarMatar'
  'CabbageChanaDal']
 ['HydrabadiHaleem' 'ChickenMayyonaisSandwitch' 'EASYHONEYGARLICSALMON'
  'MuttonDumBiryani' 'WhiteChickenKorma']
 ['Smokedsalmon' 'AlooGajarMatar' 'PumpkinBhaji' 'AlooPalak'
  'SteelcutOats']
 ...
 ['ChickencornSoup' 'MuttonDumBiryani' 'EasyBoiledRice'
  'BoiledGreenVegetables' 'EASYHONEYGARLICSALMON']
 ['EasyBoiledRice' 'CabbageChanaDal' 'AlooGobiMatar' 'JeeraAloo'
  'BabyPotato']
 ['SteelcutOats' 'CabbageChanaDal' 'PumpkinBhaji' 'AlooPalak'
  'AlooGajarMatar']]

0.9356364491854737